.pagination-btn {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 20px;
    margin-right: 70px;

}
/* pagination */
button:nth-child(1){
    background: #000;
    color: white;
    padding: 12px;
    border-radius: 6px;
    width: 60px;

}

button:nth-child(2){
    background: #000;
    color: white;
    padding: 6px;
    border-radius: 6px;
    width: 60px;

}

.pages{
    display: flex !important;
    justify-content: center !important;
    margin-right: 30px;
  
}


